%button.close{type: "button", 'aria-label': "Close"}
  %span{'aria-hidden': "true"} &times;
%ul.nav.navbar-nav
  %li
    = link_to t('.navigation_home'), root_path
  %li
    %a{type: "button", 'data-toggle': "collapse", href: "#menu", 'aria-expanded': "false", 'aria-controls': "menu"}= t('.navigation_shop')
    %ul#menu.collapse.list-unstyled.pl-30.mb-10{'aria-expanded': "false"}
      -categories.all.each do |category|
        %li
          = link_to category.name, books_path(category_id: category), class: 'collapse-link'
  %li
    %a{type: "button", 'data-toggle': "collapse", href: "#account", 'aria-expanded': "false", 'aria-controls': "account"}= t('.navigation_account')
    %ul#account.collapse.list-unstyled.pl-30.mb-10{'aria-expanded': "false"}
      -if user_signed_in?
        %li
          = link_to t('.navigation_orders'), orders_path, class: 'collapse-link'
        %li
          = link_to t('.navigation_settings'), edit_address_path, class: 'collapse-link'
        %li
          = link_to t('devise.default.log_out'), destroy_user_session_path, method: :delete, class: 'collapse-link'
      -else
        %li
          = link_to t('devise.default.log_in'), new_user_session_path, class: 'collapse-link'
        %li
          = link_to t('devise.default.sign_up'), new_user_registration_path, class: 'collapse-link'
