.hidden-xs.hidden-sm
  .row
    .col-md-5
      %h3.general-subtitle.mt-0= t('address.billing_address')
    .col-md-5.col-md-offset-1
      %h3.general-subtitle.mt-0= t('address.shipping_address')
.row
  -if current_user.billing_address
    = render partial: 'addresses/partials/form_address', locals: { address: @address_form_billing.nil? ? current_user.billing_address : @address_form_billing, type: BillingAddress.name }
  -else 
    = render partial: 'addresses/partials/form_address', locals: { address: @address_form_billing.nil? ? AddressForm.new(Address.new(type: BillingAddress.name)) : @address_form_billing, type: BillingAddress.name }

  -if current_user.shipping_address
    = render partial: 'addresses/partials/form_address', locals: { address: @address_form_shipping.nil? ? current_user.shipping_address : @address_form_shipping, type: ShippingAddress.name }
  -else
    = render partial: 'addresses/partials/form_address', locals: { address: @address_form_shipping.nil? ?  AddressForm.new(Address.new(type: ShippingAddress.name)) : @address_form_shipping, type: ShippingAddress.name }
