%p.lead.small.mb-10= t('.sort_by_category')
.dropdown
  %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
    - if categories.include?(@current_category)
      = @current_category.name
    - else
      = @current_category
    %i.fa.fa-angle-down.dropdown-icon.pull-right
  %ul.dropdown-menu
    -categories.each do |category|
      %li
        = link_to books_path(category: category), class: 'filter-link' do
          = category.name
