.general-main-wrap
  .text-center
    %h3.general-login-title= t('devise.default.sign_up')
    = render partial: 'devise/partials/oauth2_google'
    .general-form
      = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
        = render "devise/shared/error_messages", resource: resource
        .form-group.mb-30
          = f.input :email, label_html: { class: 'control-label input-label'}, autofocus: true, type: 'email', autocomplete: "email", placeholder: t('devise.placeholder.email'), input_html: { class: 'form-control' }
        .form-group.mb-30
          = f.input :password, label_html: { class: 'control-label input-label' }, autocomplete: "new-password", type: 'password', placeholder: t('devise.placeholder.password'), input_html: { class: 'form-control' }
        .form-group.mb-30
          = f.input :password_confirmation, label_html: { class: 'control-label input-label' }, autofocus: true, type: 'email', autocomplete: "email", placeholder: t('devise.placeholder.confirm_password'), input_html: { class: 'form-control' }
        .text-center
          = f.button :submit, t('devise.default.sign_up'), class: 'btn btn-default mb-20'
    %p.general-sign-text.text-center
      =t('devise.default.already_have_account')
      = link_to t('devise.default.log_in'), new_user_session_path, class: 'in-gold-500'
