.hidden-xs.divider-lg.pt-20
  - order_items.each do |item|
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600= t('.title_book')
          %th.col-method
          %th
            %span.in-grey-600= t('.title_price')
          %th
            %span.in-grey-600= t('.title_quantity')
          %th
            %span.in-grey-600= t('.title_subtotal')
      %tbody
        %tr
          %td
            .general-img-wrap-table
              = image_tag(item.book.main_image.url, class: 'cart-img-shadow pull-left')
          %td
            %p.title= item.book.name
            %p.in-grey-600.fw-300= item.book.decorate.short_description
          %td
            %span.font-16.in-gold-500= number_to_currency(item.book.price, unit: t('carts.unit_for_currency'))
          %td
            %span.ml-30= item.quantity
          %td
            %span.font-16.in-gold-500= number_to_currency(item.subtotal_price, unit: t('carts.unit_for_currency'))
