.general-main-wrap
  .text-center
    %h3.general-login-title= t('devise.defolt.devise_forgot_password_title')
    .general-form
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .form-group.mb-30
          = f.label :email, class: 'control-label input-label'
          = f.email_field :email, autofocus: true, type: 'email', autocomplete: "email", placeholder:'Email', class: 'form-control'
        .text-center
          = f.submit t('devise.defolt.send_email_instructions_submit'), class: 'btn btn-default mb-20'

  %p.general-sign-text.text-center
    = link_to :back, class: 'in-gold-500' do
      =t('.defolt.cansel')
