%h1.general-title-margin= t('.title')
.hidden-xs.clearfix
  = render 'books/partials/desktop/category'
  = render 'books/partials/desktop/filter'
.dropdowns.mb-25.visible-xs
  = render 'books/partials/mobile/category_mobile'
  = render 'books/partials/mobile/filter_mobile'
.mb-120
  .row
    = render 'books/partials/books'
  .text-center
    = render 'books/partials/view_more'
