.mb-35
  %h3= t('.title_best_sellers')
  .row
    - best_sellers.each do |book|
      .col-sm-6.col-md-3
        .general-thumb-wrap
          .thumbnail.general-thumbnail
            = image_tag(book.main_image.url, class: 'img-shadow general-thumbnail-img book-logo_img')
            .thumb-hover
              .general-thumb-link-wrap
                = link_to book_path(book.id), class: 'thumb-hover-link' do
                  %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                = render partial: 'carts/partials/add_to_cart', locals: { icon: true , book: book}
        .mb-35
          .clearfix
            %p.pull-right.font-16.in-gold-500= number_to_currency(book.price, unit: t('carts.unit_for_currency'))
            %p.title.mr-55= book.name
          %span.divider-sm
          %p.lead.small= book.decorate.all_authors
