%table.table.table-hover
  %tr.no-hover
    %th.col-pic.pl-0
      %span.in-grey-600= t('.product_title')
    %th.col-title
    %th.col-price
      %span.in-grey-600= t('.product_price_title')
    %th.col-quantity
      %span.in-grey-600= t('.product_quantity_title')
    %th.col-total
      %span.in-grey-600= t('.product_subtotal_title')
    %th.col-close
  -order_items.each do |item|
    %tr
      %td
        .general-img-wrap-table
          %img= image_tag(item.book.main_image.url, class: 'cart-img-shadow pull-left')
      %td
        %p.title= item.book.name
      %td
        %span.font-16.in-gold-500= number_to_currency(item.book.price, unit: t('carts.unit_for_currency'))
      %td
        .input-group
          %a.input-link{href: "#"}
            %i.fa.fa-minus.line-heaght-40
          %input.form-control.quantity-input{type: "text", value: item.quantity}
          %a.input-link{href: "#"}
            %i.fa.fa-plus.line-heaght-40
      %td
        %span.font-16.in-gold-500= number_to_currency(item.subtotal_price, unit: t('carts.unit_for_currency'))
      %td
        %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
          %span{'aria-hidden': "true"} &times;
